<div class="container-fluid vh-75 d-flex flex-column justify-content-center align-items-center bg-white">
    <div class="row w-100">
      <div class="col-md-3 p-0">
        <div class="image-container">
          <img src="assets/images/Now.jpg" class="now img-fluid zoom-out" alt="Your and your family health">
        </div>
      </div>
      <div class="col-md-9 p-0">
        <div class="image-container">
          <img src="assets/images/Offer.jpg" class="offer img-fluid zoom-out" alt="Special Offers">
        </div>
      </div>
    </div>
  </div>
  