<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <h2 class="nav-link welcome ms-auto" routerLink="/home">Welcome, {{ userName || 'Guest' }}!</h2>
      <ul class="navbar-nav mb-2 mb-lg-0 w-75">
        <li class="nav-item ms-auto fs-5">
        </li>
        <li *ngIf="!userName" class="nav-item ms-auto">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!userName" class="nav-item">
          <a class="nav-link" routerLink="/register">Create an Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
