<footer class="bg-light pt-4">
    <div class="container">
      <div class="row  align-items-center justify-content-lg-between justify-content-md-between justify-content-sm-center justify-content-center align-content-center">
        <div class="col-md-5 col-sm-10 col-lg-3 col-10">
          <img src="../../assets/icon.jpg" alt="Pharmacy" class="img-fluid">
        </div>
        <div class="col-md-5 col-sm-10 col-lg-3 col-10">
          <ul class="list-unstyled">
            <li><a routerLink="/"> <i class="fa fa-home fa-lg"></i>Home</a></li>
            <li><a routerLink="/about" > <i class="fa fa-info fa-lg"></i>About</a></li>
            <li><a routerLink="/contact-us"> <i class="fa fa-address-card fa-lg"></i>Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-5 col-sm-10 col-lg-3 col-10">
          <ul class="list-unstyled">
            <li><a routerLink="/customer-profile"> <i class="fa fa-user fa-lg"></i>Profile</a></li>
            <li><a routerLink="/customer-order-history"> <i class="fa fa-history fa-lg"></i>Orders</a></li>
            <li><a routerLink="/customer-cart"> <i class="fa fa-shopping-cart fa-lg"></i>Basket</a></li>
            <li><a routerLink="/customer-wishlist"> <i class="fa fa-heart fa-lg"></i>Wishlist</a></li>
          </ul>
        </div>
        <div class="col-md-5 col-sm-10 col-lg-3 col-10 social">
          <a href="#"><i class="fa fa-twitter fa-2x mx-2"></i></a>
          <a href="#"><i class="fa fa-facebook fa-2x mx-2"></i></a>
          <a href="#"><i class="fa fa-instagram fa-2x mx-2"></i></a>
          <a href="#"><i class="fa fa-youtube fa-2x mx-2"></i></a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <a href="#"><img src="../assets/100526_Google_store.webp" alt="Google Play" height="40"></a>
          <a href="#"><img src="../assets/100606_H_store.webp" alt="AppGallery" height="40"></a>
          <a href="#"><img src="../assets/100536_app_store.webp" alt="App Store" height="40"></a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <p class="text-muted">Copyright &copy; 2024 Elomda & Elmotaz. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  