.container-fluid {
    background: #191c24a6;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.product-card {
    border-radius: 15px;
    padding: 0;
    text-align: center;
    background-color: #4a4a4a !important;
    overflow: hidden;
    width: 80%;
    height: 100%;
    min-height: 150px; /* Adjust the min-height as needed */
}

.product-image{
  background-color: #4a4a4a !important;
  filter: grayscale(60%);
}

.product-image-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(60%);
}



.container-fluid-img {
    background-color: #191c24a6;
    width: 100%;
    padding: 20px;
    filter: grayscale(60%);

}

.product-image-full-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; /* Optional: add rounded corners */
}
