.container-fluid {
    margin-top: 40px;
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .sidebar {
    background-color: #191c24 !important;
    height: 100vh;
    padding-top: 20px;
  }

  .sidebar .nav-link {
    color: #53597c !important;
    padding: 15px 0;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

  .sidebar .nav-link.active {
    background-color: #0e0f14;
    color: white !important;
    letter-spacing: 2px;
  }

  .sidebar .nav-link:hover {
    background-color: #0e0f14;
    color: #fff;
  }

  .container {
    color: #fff;
    margin-top: 40px;
  }

  .list-group-item {
    background-color: #2a2e3a !important;
    color: #fff;
    border: 1px solid #444851;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .list-group-item:hover {
    background-color: #3b3f50 !important;
  }

  h3 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }

  .product-card{
    background-color: #2a2e3a !important;
    color: #fff;
    border: 1px solid #444851;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .product-card h5{
    text-align: center;
  }

  .product-details{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .product-details div{
    width: 30%;
    border-right: 1px solid #444851;
  }

  .product-actions{
    border-right: none !important;
  }
