.profile-card {
  margin-top: 50px;
  border-radius: 8px;
  overflow: hidden;
  background: #191c24;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
  border: 1px solid rgb(161, 159, 159);
  color: white;
}

.profile-card.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.error {
  color: rgb(219, 4, 4);
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #2a3038;
  color: #fff;
}

.form-control:focus{
  box-shadow: none;
  border-color:green ;
}
