<div class="container mt-4">
  <div class="row">
    <!-- About Section -->
    <div class="col-lg-8 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title mb-4">About Pharmacy Management System</h2>
          <p>The Pharmacy Management System is designed to streamline the operations of a pharmacy. It includes features
            such as inventory management, sales tracking, prescription management, and customer management. This system
            helps pharmacies to efficiently manage their daily tasks, improve customer service, and ensure compliance
            with regulations.</p><hr>
          <h4 class="mt-4">Key Features</h4>
          <ul>
            <li>Inventory Management: Track and manage the stock levels of various medicines and products.</li>
            <li>Sales Tracking: Monitor sales transactions and generate sales reports.</li>
            <li>Prescription Management: Handle prescriptions and dispense medicines accurately.</li>
            <li>Customer Management: Maintain customer records and manage their orders.</li>
            <li>Supplier Management: Manage supplier information and orders.</li>
          </ul><hr>
          <h4 class="mt-4">Benefits</h4>
          <ul>
            <li>Increased Efficiency: Automates daily tasks and reduces manual errors.</li>
            <li>Improved Customer Service: Quick access to customer information and order history.</li>
            <li>Compliance: Ensures adherence to regulatory requirements.</li>
            <li>Data Security: Secure handling of sensitive data.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Map Section -->
    <div class="col-lg-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="card-title mb-4">Our Location</h4>
          <div id="map-container" style="height: 300px;">
            <iframe width="100%" height="100%" frameborder="0" style="border:0"
              src="https://www.google.com/maps/place/%D8%A3%D8%B3%D9%8A%D9%88%D8%B7%D8%8C+%D8%A7%D9%84%D8%AD%D9%85%D8%B1%D8%A7%D8%A1+%D8%A7%D9%84%D8%AB%D8%A7%D9%86%D9%8A%D8%A9%D8%8C+%D8%A7%D9%84%D9%81%D8%AA%D8%AD%D8%8C+%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9+%D8%A3%D8%B3%D9%8A%D9%88%D8%B7%E2%80%AD/@27.1770336,31.1844181,14z/data=!3m1!4b1!4m6!3m5!1s0x14450be607cb7bcd:0xba699162bfc01112!8m2!3d27.1783117!4d31.1859257!16zL20vMGI1ajZo"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

