.container {
  margin-top: 40px;
}

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #191c24;
  animation: fadeIn 1s ease-in-out;
  border: 1px solid #ccc;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #3ee606;
  text-align: center;
  margin-bottom: 20px !important;
  font-family: 'Nunito', sans-serif;
}

h4 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #0db1d1;
  font-family: 'Nunito', sans-serif;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}
