<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="Misr Pharmacies" height="50">
      </a>
      <form class="d-flex mx-auto">
        <input class="form-control me-2" type="search" placeholder="Search entire store here..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-map-marker fa-lg"></i> Stores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-heart fa-lg"></i> Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-shopping-basket fa-lg"></i> Basket</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user fa-lg"></i> My Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="#">Register</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Skin Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Medications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home Health Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mom & Baby</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Everyday Essentials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hair Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Beauty Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vitamins & Supplements</a>
        </li>
      </ul>
    </div>
  </nav>
  