<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="fa fa-home fa-lg"></i> Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="pharmaciesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-hospital-o fa-lg"></i> Pharmacies
        </a>
        <ul class="dropdown-menu" aria-labelledby="pharmaciesDropdown">
          <li *ngFor="let pharmacy of pharmacies">
            <a class="dropdown-item" routerLink="/pharmacy-details/{{pharmacy.Pharmacy_ID}}"><i class="fa fa-hospital-o fa-lg"></i>{{pharmacy.Pharmacy_Name}}</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-list fa-lg"></i> Categories
        </a>
        <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
          <li *ngFor="let category of categories">
            <a class="dropdown-item" routerLink="/category-details/{{category.Category_ID}}"><i class="fa fa-list fa-lg"></i> {{category.Category_Name}}</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about"><i class="fa fa-info fa-lg"></i> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us"><i class="fa fa-address-card fa-lg"></i> Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li *ngIf="userType === 'SuperAdmin'" class="nav-item">
        <a class="nav-link" routerLink="/super-admin-dashboard"><i class="fa fa-user fa-lg"></i> Super Admin</a>
      </li>
      <li *ngIf="userType === 'pharmacy_admin'" class="nav-item">
        <a class="nav-link" routerLink="/pharmacy-admin"><i class="fa fa-user fa-lg"></i> Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer-wishlist"><i class="fa fa-heart fa-lg"></i> Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customer-cart"><i class="fa fa-shopping-basket fa-lg"></i> Basket</a>
      </li>
      <li *ngIf="userType" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user fa-lg"></i> My Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/customer-profile"><i class="fa fa-user fa-lg"></i> My Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
