<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <div class="form-group mb-4">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="User_Email" class="form-control">
      <div class="error text-danger" *ngIf="f['User_Email'].touched && f['User_Email'].invalid">
        <span *ngIf="f['User_Email'].errors && f['User_Email'].errors['required']">* Email is required</span>
        <span *ngIf="f['User_Email'].errors && f['User_Email'].errors['email']">* Email is invalid</span>
      </div>
    </div>

    <div class="form-group mb-4">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="User_Password" class="form-control">
      <div class="error text-danger" *ngIf="f['User_Password'].touched && f['User_Password'].invalid">
        <span *ngIf="f['User_Password'].errors && f['User_Password'].errors['required']">* Password is required</span>
        <span *ngIf="f['User_Password'].errors && f['User_Password'].errors['minlength']">* Password must be at least 6 characters</span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    <a routerLink="/forgot-password" class="forgot-password-link mt-2 d-block">Forgot password?</a>
    <div class="links">
      <p>Don't have an account? <a routerLink="/register" class="register-link"> Register now</a></p>
    </div>
  </form>
</div>
