
.login-container {
  max-width: 450px;
  margin: 100px auto;
  padding: 20px;
  color: white;
  background: #191c24;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  border: 1px solid #ccc;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #2a3038;
}

.form-control:focus{
  box-shadow: none;
  border-color:green ;
}

.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
  font-size: 0.9em;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.register-link,.forgot-password-link {
  color: #007bff;
  text-decoration: none;
}

.btn{
  margin-top: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #007bff;
  color: #fff;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
