/* Custom styles for the dashboard */

.container-fluid {
  margin-top: 40px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  border: none;
  background-color: #2a2e3a !important;
  color: white;
}

.card-title {
  margin-bottom: 20px;
  text-align: center;
}

.card-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.sidebar {
  background-color: #191c24 !important;
  height: 100vh;
  padding-top: 20px;
}

.sidebar .nav-link {
  color: #53597c !important;
  padding: 15px 0;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.sidebar .nav-link.active {
  background-color: #0e0f14;
  color: white !important;
  letter-spacing: 2px;

  color: #fff;
}

.sidebar .nav-link:hover {
  background-color: #0e0f14;
  color: #fff;
}

.table-container {
  overflow-x: auto;
}

.fade-in-enter {
  opacity: 0;
}

.fade-in-enter-active {
  opacity: 1;
  transition: opacity 0.5s;
}
