/* Custom styles for the dashboard */

.container-fluid {
  margin-top: 40px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  border: none;
  background-color: #2a2e3a !important;
  color: white;
}

.card-title {
  margin-bottom: 20px;
  text-align: center;
}

.card-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.sidebar {
  background-color: #191c24 !important;
  height: 100vh;
  padding-top: 20px;
}

.sidebar .nav-link {
  color: #53597c !important;
  padding: 15px 0;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.sidebar .nav-link.active {
  background-color: #0e0f14;
  color: white !important;
  letter-spacing: 2px;

  color: #fff;
}

.sidebar .nav-link:hover {
  background-color: #0e0f14;
  color: #fff;
}

.table-container {
  overflow-x: auto;
}

.fade-in-enter {
  opacity: 0;
}

.fade-in-enter-active {
  opacity: 1;
  transition: opacity 0.5s;
}

.table{
  text-align: center;
  border: none !important;
  /* overflow: hidden; */
}

tbody, td, tfoot, th, thead, tr {
  border-style: none !important;
}

.table tr th{
  background-color: brown;
  border-radius: 0 50%  0 50%;
  padding: 20px 0 !important;
  transition: all 0.3s ease-in-out;
}
.table tr th:hover {
  transform: scale(1.03);
  background-color: green !important;
  color: white !important;
  font-size: 18px !important;
  font-weight: bold;
}


.table tr td {
  background-color: #2a2e3a !important;
  border-radius: 20px 50%;
  padding: 20px 7px !important;
  transition: all 0.3s ease-in-out;
}



.table tr th,
.table tr td {
  color: white;
border: none !important;
}

.table tr td:hover {
  transform: scale(1.02);
  background-color: brown !important;
  color: black !important;
  font-size: 18px !important;
  font-weight: bold;
}
.table .btn{
  margin-right: 5px;
  padding: 7px 10px;
  font-size: 15px;
  font-weight: bold;
}

.pagination{
  margin-top: 40px !important;
}
.pagination .page-item{
  border: none;
  border-radius: 5px;
  margin-right: 10px
}
.pagination .page-link{
  padding: 15px 20px !important;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
