<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="forgot-password-container p-4">
        <h2 class="mb-4 text-center">Forgot Password</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control">
            <div *ngIf="f['email'].touched && f['email'].errors" class="invalid-feedback">
              <span *ngIf="f['email'].errors['required']">* Email is required</span>
              <span *ngIf="f['email'].errors['email']">* Email is invalid</span>
            </div>
          </div>

          <div class="mb-3">
            <label for="captcha" class="form-label">Enter the code:
              <span class="captcha">{{ captchaCode }}</span></label>
            <input type="text" id="captcha" formControlName="captcha" class="form-control">
            <div class="error text-danger" *ngIf="f['captcha'].touched && f['captcha'].invalid" >
              <span *ngIf="f['captcha'].errors && f['captcha'].errors['required']">* Captcha is required</span>
              <span *ngIf="f['captcha'].errors && f['captcha'].errors['pattern']">* Captcha is invalid</span>
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100" [disabled]="forgotPasswordForm.invalid">Send Code</button>
        </form>
      </div>
    </div>
  </div>
</div>
