<div class="container-fluid mt-4">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/super-admin-dashboard">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/show-pharmacies">
              <span data-feather="file"></span>
              All Pharmacies
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sales">
              <span data-feather="shopping-cart"></span>
              All Sales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categories">
              <span data-feather="bar-chart-2"></span>
              Categories
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-light">Pharmacies</h1>
        <!-- <button class="btn btn-primary" (click)="addPharmacy()">Add Pharmacy</button> -->
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4" ><!--*ngFor="let pharmacy of pharmacies"-->
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <p class="card-text"><strong>Contact: 01015555555</strong> </p><hr>
              <p class="card-text"><strong>Categories: 5</strong> </p><hr>
              <p class="card-text"><strong>Products: 50</strong> </p><hr>
              <p class="card-text"><strong>Sales: 200$</strong> </p>
              <!-- <button class="btn btn-secondary" >Edit</button>
              <button class="btn btn-danger">Delete</button> -->
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
