/* Custom styles for the dashboard */

.container-fluid {
  margin-top: 40px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn{
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  padding: 20px;
  /* border: none; */
  background-image: linear-gradient(to right, #0f6464, #0b8286);
  color: white;
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(255, 255, 255) !important;
  animation: fadeIn 1s ease-in-out;
  border: 1px solid #ccc;
}

.card-text {
  color: rgba(198, 185, 2, 0.729);
  text-shadow:  0 0 5px #62646d;
}

.card-title {
  color: black !important;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.729) !important;
}

.card-span{
  color: rgba(0, 0, 0, 0.716);
  margin-right: 30px;
  text-align: left !important;
  font-size: 18px;
}

.sidebar {
  background-color: #191c24 !important;
  height: 100vh;
  padding-top: 20px;
}

.sidebar .nav-link {
  color: #53597c !important;
  padding: 15px 0;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.sidebar .nav-link.active {
  background-color: #0e0f14;
  color: white !important;
  letter-spacing: 2px;

  color: #fff;
}

.sidebar .nav-link:hover {
  background-color: #0e0f14;
  color: #fff;
}
