<div class="container-fluid mt-4">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/pharmacy-admin-dashboard">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/add-product">
                <span data-feather="plus-square"></span>
                Add Product
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/show-products">
                <span data-feather="box"></span>
                Show Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pharmacy-sales">
                <span data-feather="dollar-sign"></span>
                Show Sales
              </a>
            </li>


          </ul>
        </div>
      </nav>
  
      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2 text-light">Dashboard</h1>
        </div>
        <div class="row">
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
              <div class="card-block">
                <h6 class="mb-5">Total Products</h6>
                <h2 class="text-right"><i class="fa fa-product-hunt f-left"></i><span class="f-right">{{products.length}}</span></h2><br><br>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <h6 class="m-b-20">Total Sales</h6>
                <h2 class="text-right mt-5"><i class="fa fa-dollar-sign f-left"></i><span class="f-right">0</span></h2><br><br>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
              <div class="card-block">
                <h6 class="m-b-20">Total Revenue</h6>
                <h2 class="text-right mt-5"><i class="fa fa-chart-line f-left"></i><span class="f-right">0 LE</span></h2><br><br>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
              <div class="card-block">
                <h6 class="m-b-20">Recent Orders</h6>
                <h2 class="text-right mt-5"><i class="fa fa-shopping-cart f-left"></i><span class="f-right">0</span></h2><br><br>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  